*.iml         # IntelliJ project/module files
*.class       # Java bytecode
*.log         # Логи
*.jar         # JAR-файлы, если не собираешься их хранить
target/       # Maven (если используешь)
build/        # Gradle
.idea/        # Папка IntelliJ

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store